body{
    margin: 0;
    font-family: 'Signika', sans-serif;
}

input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 4px;
  box-sizing: border-box;
  border: default;
}

#container{
    display: grid;
    grid-template-rows: 11vh 80vh 9vh;
    grid-template-columns: 15vw 85vw;
}

#container > div{
    display: grid;
}

.c1 {
    grid-area: 1 / 1 / 2 / 3;
    background: rgb(0,215,255);
    background: linear-gradient(330deg, rgba(0,215,255,1) 75%, rgba(0,106,233,1) 100%);
}

#container:nth-child(1) h2{
    justify-self: stretch;
    align-self: stretch;    
    text-align: center;
    font-size: 3em;
}

.c2{
    grid-area: 2 / 1 / 4 / 2;
    justify-content: center;
    align-content: center;
    background: rgb(30,103,186);
    background: rgb(0,215,255);
    background: linear-gradient(257deg, rgba(0,215,255,1) 38%, rgba(0,106,233,1) 100%);
}

.c2 > div{
    margin: 1px;
}

.c3{
    grid-area: 2 / 2 / 3 / 3;
    grid-template-columns: repeat(auto-fit, minmax(5%, 20%));
    justify-content: space-evenly;
    background: rgb(0,215,255);
    background: linear-gradient(144deg, rgba(0,215,255,1) 75%, rgba(0,106,233,0) 100%);
    gap:10px;
    overflow-y: scroll;
    position: relative;
}

.bookCard{
    border: 4px solid black;
    border-radius: .6em;
    background: linear-gradient(315deg, #4dff03, #00d0ff);
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:16px;
}

.bookCard > h5{
    margin-left: 8px;
    margin-right: 8px;
    padding: 3px;
}

.bookCard > div{
    border-radius: 5px;
    border: medium solid ;
    flex:1 1 auto;
    font-size: 1em;
    font-weight: 900;
    background-color: aliceblue;
    margin-left: 8px;
    margin-right: 8px;
    padding: 3px;
}

.bookCard > div:last-child{
    margin-bottom: 26px;
}

.bookCard:hover{
    transition: 0.5s;
    transform: translate(-8px,2px);
}

#bookCardItem {
    display:flex;
}

.c4{
    grid-area: 3 / 2 / 4 / 3;
    background: rgb(0,215,255);
    background: linear-gradient(144deg, rgba(0,215,255,1) 50%, rgba(0,106,233,0) 96%);
    justify-content: end;
    align-content: end;
    padding-bottom: 12px;
    padding-right: 18px;
    font-style: italic;
    text-shadow: 1px 1px 2px rgb(195,55,4);
    font-weight: 800;
    font-size: large;
    letter-spacing: .3em;
}

.c4 > a {
    text-align: center;
    text-decoration: none;
}